// THEME COLOR 

$dark-blue: #0A1929;
$light-blue: #66B2FF;
$red: #d0181e;

// WHITE AND GRAY COLORS 
$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: rgba(0,0,0, 0.9);

$primary: $dark-blue;
$secondary: $light-blue;

// @import "../node_modules/bootstrap/scss/bootstrap.scss"; file

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
}

body {
    font-family: inherit;
}