// THEME COLOR 

$dark-blue: #0A1929;
$light-blue: #66B2FF;
$red: #d0181e;

// WHITE AND GRAY COLORS 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $dark-blue;
$secondary: $light-blue;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lora', serif;
}