// THEME COLOR 
$brown-dark: #413620;
$brown-light: #9C6615;
$champagne: #FFD791;

// WHITE AND GRAY COLORS 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $brown-dark;
$secondary: $champagne;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

* {
    font-family: 'Lora', serif;
}