@use '../custom' as *;
@use '../components/mixins' as *;

#books-home {
    .container {
        border-radius: 15px;
        color: $gray-300;
    }
}


#books {
    
    .books-search-box {
        color: $gray-300 !important;
    }
    
    .book-card {
        min-height: 100%;
        color: $gray-300;
    }

    .card {
        padding: 1rem;
        background-color: $black;
        // -webkit-backdrop-filter: blur(10px);
        // backdrop-filter: blur(10px);
        // box-shadow: 10px 5px 5px rgba($gray-400, 0.7);

        img {
            border-radius: 0.375rem;
        }
    }
}

#book-view {
    padding: 1rem 0;
}