@use '../custom' as *;
@use '../components/mixins' as *;

.wrapper {
    display: flex;
}

@media (min-width: 993px){
    .wrapper {
        margin-top: 0;
        flex-direction: column !important;
    
        * {
            // border: 2px solid red;
        }
    }

    #dashboard {
        width: 20%;
        height: 100vh;
        margin: 0 !important;
        padding: 0;
        background-color: $black;
        color: $gray-300;
        
        .nav {
            height: 100vh;

            .navbar {
                width: 100%;
                height: 100vh;
                flex-direction: column;
                justify-content: flex-start;
                background-color: $black !important;

                * {
                    border: 1px solid yellow;
                }

                .navbar-brand, .navbar-list, .navbar-profile {
                    width: 100%;
                    max-height: 100%;
                }

                .navbar-brand {
                    
                }
    
                .navbar-list {
                    height: 50%;
                }
    
                .navbar-profile {
                    height: 100px;
                    
                    .profile {
                        background-color: $white;
                    }
                }
            }
        }
    }

    #dashboard-main {
        padding: 1.5rem;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .wrapper {
        flex-direction: column !important;
    }

    #dashboard {
        visibility: hidden;
    }
}