@use '../custom' as *;
@use '../components/mixins' as *;

#dashboard {
    font-size: 1.2rem !important;

    
    nav {
        max-width: 275px;
        background-color: $primary;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.3) !important;
        
        .dashboard-title {
            font-weight: 700;
        }
        
        .nav-pills {
            .nav-item > .nav-link > span {
                font-weight: 500;;
            }
            
            .nav-link {
                color: $secondary !important;
            }
        
            a:hover {
                color: $gray-200 !important;
            }
        }
    }
    
    main {
        background-color: rgb(0,0,0, 0.7);
        
        #dashboard-welcome {
            background-color: $secondary !important;
        }
    }

}