@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    background-color: $secondary !important;
    color: $gray-300 !important;

    hr {
        width: 100%;
        height: 2px;
    }

    .company-list {

        li {
            margin-bottom: 0.5rem;
        }
    }

    // Style the copyright content
    .footer-bottom {
        background-color: $primary;

        &__copyright {
            font-weight: 400;
        }
    }

    a {
        color: $gray-300;
        text-decoration: none;

        &:hover {
            color: $gray-600;
            text-decoration: underline;
        }
    }
}