@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    background-color: $gray-900;
}

// STYLE THE CONTACT BOX 
.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $secondary;
        padding-top: 0.5rem;

        @include media-breakpoint-up(sm) {
            width: 4rem;
        }
    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
                width: 1.4rem;
            }

            &:hover {
                color: $secondary;
            }
        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;

            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }
        }
    }
}

// STYLE SOCIAL MEDIA CONTENT 
.footer-sm {

    a {
        color: $white;

        i {
            font-size: 1rem;
            margin-left: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;
            }
        }
    }
}

// STYLE THE COMPANY INFO CONTENT 
.company-list {
    display: block;
    list-style-type: none;
    position: relative;

    li {
        margin-bottom: 0.5rem;
        text-decoration: none;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $secondary;
            }
        }
    }
}

// Style the copyright content
.footer-bottom {
    background-color: $black;

    &__copyright {
        color: $gray-600;
        font-weight: 400;

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $secondary;
                text-decoration: underline;
            }
        }
    }
}
