@use "../custom" as *;
@use "../components/mixins" as *;

#login {
    .btn-login {
        padding: 1.375rem 0.75rem !important;
    }

    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #163658;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #0a1929, #0e2339, #122049, #163658);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #0a1929, #0e2339, #122049, #163658);
    }

    @media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
    }

    @media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
    }
}

#signup {
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #163658;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #0a1929, #0e2339, #122049, #163658);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #0a1929, #0e2339, #122049, #163658)
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #0a1929, #0e2339, #122049, #163658);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #0a1929, #0e2339, #122049, #163658)
    }
}