@use "../custom" as *;

#signup {
    width: 100%;

    .signup-image {
        width: 49%;
        background: center/cover no-repeat url('/images/directory.jpeg');
        // -webkit-clip-path: polygon(0% 0%, 45% 0%, 55% 100%, 0% 100%);
        // clip-path: polygon(0% 0%, 45% 0%, 55% 100%, 0% 100%);
    }

    .signup-form {
        width: 49%;
    }
}

.btn-google {
    background-color: $white !important;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    span {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    #signup {

        .signup-image {
            display: none !important;
        }

        .signup-form {
            width: 75%;
        }

    }
}