@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animations" as *;

body {
    background-color: $primary !important;
}

.wrapper {
    margin-top: 93px;
}

.bg-image {
    width: 100%;
    height: 100%;
    background: linear-gradient(163deg, rgba(0,0,0,0.25), rgba(0,0,0,1)), url('https://images.pexels.com/photos/1319855/pexels-photo-1319855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.form-section {
    margin: 0 auto;
    height: 210px;
    margin-top: -50px;
    text-align: center;
    background: $primary;
    // clip-path: polygon(100% 80%, 100% 0%, 0% 0%, 0% 100%);
}