@use '../custom' as *;
@use '../components/mixins' as *;

.middle-section {
    @include gradient;

    margin: 0;
    padding-top: 7rem;
    width: 100%;
    height: 100%;
}

.welcome {
    padding: 4rem;
    
    h1 {
        background-image: linear-gradient(to right , $secondary, $black);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
