@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
    height: 93px;
    background-color: $primary;
    font-size: 1rem;
    font-weight: 700;

    a {
        color: $gray-300 !important;
    }

    .navbar-toggler {
        background-color: $gray-300;
    }

    li { 
        padding: 1rem;
    }
}