<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-md btn-danger" type="submit">
        <!-- <i class="fa-solid fa-trash"></i> -->
        Delete
    </button>
</form>