  <!-- START OF THE FOOTER SECTION  -->
  <footer class="footer pt-5">
    <div class="container">
      <div class="row text-white justify-content-between pb-5">
        <div class="col-12 col-lg-4">
          <h5 class="text-capitalize fw-bold">Book Up</h5>
          <hr class="bg-white d-inline-block">
          <p class="lh-lg">Our mission is to connect readers with their next favorite read and provide a platform for authors to showcase their literary creations.</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <h5 class="text-capitalize fw-bold">Company</h5>
          <hr class="bg-white d-inline-block">
          <ul class="company-list list-inline ">
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Terms & Privacy</a></li>
            <!-- <li><a href="#">Lorem ipsum</a></li> -->
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <h5 class="text-capitalize fw-bold">Useful Links</h5>
          <hr class="bg-white d-inline-block">
          <ul class="company-list list-inline ">
            <li><a href="#">Your Account</a></li>
            <li><a href="#">Become an Affiliate</a></li>
            <li><a href="/signup">Create an Account</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom pt-5 pb-5">
      <div class="container">
        <div class="row text-center text-white">
          <div class="col-12">
            <div class="footer-bottom__copyright">
              <a href="#">Book Up</a> &copy; 2024 | Created by <a href="https://dyarawilliams.github.io"
                target="_blank">D'yara Williams</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<script defer src="/js/main.js"></script>
</body>

</html>