<footer id="footer" class="footer text-center">
    <div class="container">
        <div class="row">
            <p>&copy; 2021 BookUp. Created by D'yara Williams</p>
        </div>
    </div>
</footer>