<div class="row mb-3">
    <div id="dashboard-welcome" class="card">
        <div class="card-body">
            <div class="card-title text-center">
                <h2>Welcome, <%- user.userName || user.firstName %>
                </h2>
            </div>
        </div>
    </div>
</div>