<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Style Sheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Bootstrap 5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Font Awesome 6.2.0 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Filepond Plugins -->
  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet" />
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

  <title>Bookup | Dashboard</title>

</head>

<body>
  <div id="dashboard" class="container-fluid">
    <div class="row flex-nowrap">
      <nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar-bg">
        <div
          class="sticky-top d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center py-5 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Bookup - Dashboard</span>
          </a>
          <ul class="nav nav-pills flex-column w-100 h-100 mb-sm-auto mb-0 px-2 align-items-center align-items-sm-start justify-content-between"
            id="menu">
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fa-solid fa-house"></i> <span class="ms-2 p d-none d-sm-inline">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard"  class="nav-link px-0 align-middle d-inline">
                <i class="fa-solid fa-chart-line"></i>
                <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                <a href="#submenu1" data-bs-toggle="collapse">
                  <i class="fa-solid fa-chevron-down"></i>
                </a>
              </a>
              <ul class="collapse nav flex-column ms-2" id="submenu1" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="/dashboard/books/new" class="nav-link px-3"><span class="d-none d-sm-inline">Add</span> New
                    Book</a>
                </li>
                <li>
                  <a href="/authors/new" class="nav-link px-3"><span class="d-none d-sm-inline">Add</span> New Author
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fa-solid fa-book"></i>
                <span class="ms-2 d-none d-sm-inline">Books</span>
              </a>
              <ul class="collapse nav flex-column ms-2" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="/dashboard/books" class="nav-link px-3"> <span class="d-none d-sm-inline">All
                      Books</span></a>
                </li>
                <li>
                  <a href="/dashboard/mybooks" class="nav-link px-3"> <span class="d-none d-sm-inline">My Books </span>Added</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-users"></i> <span class="ms-2 d-none d-sm-inline">Authors</span> </a>
              <ul class="collapse nav flex-column ms-2" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="/authors" class="nav-link px-0"> <span class="d-none d-sm-inline">All Authors</span></a>
                </li>
                <!-- <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">My Authors </span>Added</a>
                </li> -->
              </ul>
            </li>
          </ul>
          <hr>
          <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="Profile pic" width="40" height="40"
                class="rounded-circle">
              <span class="d-none d-sm-inline mx-2">
                <%- user.userName || user.firstName %>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="col py-3">
        <div class="container-fluid">

          <%- body %>
          
        </div>
        <footer class="text-center">
          <!-- START THE COPYRIGHT INFO  -->
          <div class="footer-bottom pt-5 pb-5">
            <div class="container">
              <div class="row text-center text-white">
                <div class="col-12">
                  <div class="footer-bottom__copyright">
                    &copy; 2021-2022 <a href="#">Book Up</a> | Created by <a href="https://dyarawilliams.github.io"
                      target="_blank">D'yara Williams</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/fileUpload.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>