<%- include('../partials/header') %>
<main id="main-home">
    <div class="container">
        <%- include('../partials/errorMessage') %>
        <%- body %>
    </div>
</main>
<%- include('../partials/footer') %>