<!-- START OF THE HEADER -->
<%- include('../partials/header') %>
<!-- END OF THE HEADER -->

<div class="wrapper">
<!-- START OF THE MAIN SECTION  -->
    <%- include('../partials/errorMessage') %>
    <%- body %>
<!-- END OF THE MAIN SECTION  -->
</div>

<!-- START OF FOOTER  -->
<%- include('../partials/footer') %>
<!-- END OF THE FOOTER  -->