<section id="about" class="about-section container py-3">
    <header class="row justify-content-between align-items-center">
        <div class="col-sm-12 col-md-6 d-none d-md-block">
            <img src="/images/book-icon.png" alt="Book up logo" width="350" height="350" class="img-fluid" loading="lazy">
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>About Bookup</h1>
            <p>Welcome to Bookup, your go-to destination for discovering and exploring a vast collection of books. Our mission is to connect readers with their next favorite read and provide a platform for authors to showcase their literary creations.</p>
        </div>
    </header>
    <section class="row">
        <section class="col-md-12 col-lg-4 text-center">
            <i class="fa-solid fa-award fa-6x"></i>
            <h2>What Sets Us Apart?</h2>
            <p>At Bookup, we believe in the power of literature to inspire, entertain, and broaden perspectives. Our carefully curated selection spans genres, ensuring there's something for every reader. Whether you're into fiction, non-fiction, mystery, or fantasy, Bookup is your literary companion.</p>
        </section>
        <section class="col-md-12 col-lg-4 text-center">
            <i class="fa-solid fa-globe fa-6x"></i>
            <h2>Explore, Connect, and Share</h2>
            <p>Take a journey through our extensive book directory, where you can explore detailed book profiles, read reviews, and find recommendations tailored to your taste. Connect with fellow book enthusiasts, share your thoughts, and join discussions to enhance your reading experience.</p>
        </section>
        <section class="col-md-12 col-lg-4 text-center">
            <i class="fa-solid fa-handshake fa-6x"></i>
            <h2>Join the Bookup Community</h2>
            <p>Become a part of the Bookup community by creating an account. Unlock personalized features, track your reading progress, and contribute to the vibrant world of literature. Whether you're a seasoned bookworm or a casual reader, there's a place for you at Bookup.</p>
        </section>
    </section>
</section>