<%- include('./partials/welcome') %>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex justify-content-around">
                        <div class="media-body text-left">
                            <h3 class="primary">10</h3>
                            <span>Books Added</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fa-solid fa-book fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex justify-content-around">
                        <div class="media-body text-left">
                            <h3 class="primary">7</h3>
                            <span>Authors Added</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fa-solid fa-user fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <% books.forEach(book => { %>
        <div class="col text-center">
            <a href="/books/<%= book.id %>">
                <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" width="200">
            </a>
        </div>
    <% }) %>
</div> 