<main class="hero-section bg-image">
    <!-- <header class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1 class="display-4 fw-bold">Welcome</h1>
            <img src="/images/book-lover.png" alt="Book Lover Illustration" class="fadeIn" style="height: 325px;">
        </header>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="card ">
                <div class="card-body">
                    <p class="card-text">Discover and read more books you enjoy. Be apart of the best book directory out
                        there.</p>
                    <p class="card-text">Get Busy with the Bookup.</p>
                    <a href="/signup" class="btn get-started">Get Started</a>
                </div>
            </section>
        </div> -->
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/book-icon.png" alt="Book Lover Illustration" height="325">
            <h1 class="display-5 fw-bold text-white">Welcome to Book Up</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-white">Access the top book directory, a library of high quality books. Discover and read more books you enjoy. Be apart of the best book directory out there.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/signup" class="btn btn-outline-secondary btn-lg get-started px-4 gap-3 text-white">Get Started</a>
                    <a href="/about" class="btn btn-outline-secondary btn-lg px-4 text-white">Learn More</a>
                </div>
            </div>
        </div>
</main>

<section class="form-section">
    <form action="" class="d-flex flex-column justify-content-center align-items-center">
        <input type="search" name="name" class="search form-control w-75 mt-5 mx-auto text-center rounded-pill"
            placeholder="Search by author or book" />
        <input type="submit" value="Search" class="search-btn form-control w-25 mt-3 btn-secondary" />
    </form>
</section>

<section id="books" class="books">
    <div class="container">
        <header class="row text-center">
            <h3 class="text-capitalize">Recently Added</h3>
            <div class="heading-line"></div>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolore veritatis omnis
                quod sunt! Neque!</p>
        </header>
        <!-- FILTER BUTTONS -->
        <!-- <div class="row text-center mt-2 mb-4 h-3">
            <div class="col-md-12">
                <button class="btn btn-outline-primary">All</button>
                <button class="btn btn-outline-primary">Today</button>
                <button class="btn btn-outline-primary">Yesterday</button>
            </div>
        </div> -->

        <div class="row">
            <!-- START OF BOOK ITEMS  -->
            <% books.forEach(book=> { %>
                <div class="col-6 col-sm-4 text-center">
                    <a href="/books/<%= book.id %>">
                        <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" width="200"
                            height="270">
                    </a>
                </div>
                <% }) %>
                    <!-- END OF BOOK ITEMS  -->
        </div>
    </div>
</section>