
<section class="hero-section py-5">
    <div class="hero-content container d-flex flex-column flex-md-row justify-content-center align-items-center">
        <section class="hero-text">
            <h2 class="fw-bold fs-1 fs-md-3 fs-lg-2">Your Library in the Clouds</h2>
            <p>We're redefining the way you experience literature. Say goodbye to shelf space limitations and hello to a limitless literary universe.</p>
            <hr> 
            <section class="btn-home d-flex justify-content-evenly">
                <a href="/signup" class="btn btn-success btn-lg">Get Started</a>
                <a href="/about" class="btn btn-outline-secondary btn-lg text-white">About Us</a>
            </section>
            <hr>
            <p class="fst-italic">Join us today and redefine the way you interact with you favorite books and authors. Your literary journey knows no boundaries when it's in the clouds.</p>
        </section>
        <section class="hero-img d-none d-lg-block">
            <!-- <div></div> -->
            <img 
                src="/images/library-small.webp" width="640" height="427"
                alt="A picture of a library"
                class="cloud-shape"
            />
        </section>
    </div>
</section>