<section id="home" class="intro">
    <div class="container">
        <div class="row text-center">
            <h2 class="">Welcome to Book Up</h3>
            <form action="">
                <input type="search" name="name" placeholder="Search by ISBN, author or book">
                <input type="submit" value="Search">
            </form>
            <div>
                <div class="mt-5">
                    <h2>Recently Added</h2>
                    <% books.forEach(book => { %>
                        <img src="<%= book.coverImagePath %>" alt="" width='200' height='250' class="col p-2">
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>
