<section class="text-center">
    <h1 class="display-2 fw-bold">Welcome to Book Up</h1>
    <form action="">
        <input type="search" name="name" placeholder="Search by ISBN, author or book">
        <input type="submit" value="Search">
    </form>
</section>
<section id="books" class="books">
    <div class="container">
        <div class="row text-center mt-5">
            <h3 class="text-capitalize">Recently Added</h3>
            <div class="heading-line"></div>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolore veritatis omnis quod sunt! Neque!</p>
        </div>
        <!-- FILTER BUTTONS -->
        <div class="row text-center mt-5 mb-4 h-3">
            <div class="col-md-12">
                <button class="btn btn-outline-primary">All</button>
                <button class="btn btn-outline-primary">Today</button>
                <button class="btn btn-outline-primary">Yesterday</button>
            </div>
        </div>

        <div class="row">
            <!-- START OF BOOK ITEMS  -->
            <% books.forEach(book=> { %>
                <div class="col-lg-4 col-md-6">
                    <div class="books-box shadow">
                        <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid">
                        <div class="book-info">
                            <div class="caption">
                                <h4><%= book.title %></h4>
                                <p>Author Name</p>
                                <p><%= book.author %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            <!-- END OF BOOK ITEMS  -->
        </div>
    </div>
</section>