
<section class="hero-section container">
    <div class="hero-image"></div>
    <section class="hero-content text-center pt-5">
        <h2>Your Library in the Clouds</h2>
        <p>We're redefining the way you experience literature. Say goodbye to shelf space limitations and hello to a limitless literary universe. <span>Join us today</span> and redefine the way you interact with you favorite book and authors. Your literary journey knows no boundaries when it's in the clouds.</p>
        <section class="btn-home d-flex justify-content-evenly">
            <a href="/signup" class="btn btn-success btn-lg text-white">Get Started</a>
            <a href="/about" class="btn btn-outline-secondary btn-lg text-white">Learn More</a>
        </section>
    </section>
</section>

<section id="booksHome" class="books">
    <div class="container pt-4 pb-4">
        <header class="row text-center">
            <h3 class="text-capitalize">Recently Added</h3>
            <div class="heading-line"></div>
        </header>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
            <% books.forEach(book=> { %>
                <div class="col text-center">
                    <a class="h-auto" href="/books/<%= book.id %>">
                        <img src="<%= book.coverImagePath %>" alt="<%= book.title %> Cover">
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</section>