<section id="login">
    <section class="login-container vh-75 d-flex justify-content-center align-items-center">
        <section class="card p-4 shadow">
            <header>
                <h1 class="text-center mb-4">Login</h1>
            </header>
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <section class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/login" method="POST">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Enter your email"
                    required>

                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control mb-4" id="password" name="password"
                    placeholder="Enter your password" required>

                <button type="submit" class="btn btn-primary w-100">Log In</button>
                <a href="/auth/google" class="btn w-100 btn-google">
                    <img src="/images/google.png" alt="google icon" loading="lazy">
                    <span>Continue with Google</span>
                </a>
                <footer class="text-center mt-3">
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </footer>
            </form>
        </section>
    </section>
</section>