<section id="signup" class="h-100 d-flex justify-content-evenly">
    <div class="signup-image"></div>
    <div class="signup-form">
        <div class="pt-sm-4 p-md-5">
            <h2 class="text-uppercase text-center mb-3">Create an account</h2>
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <p class="alert alert-danger"><%= el.msg %></p>
                <% }) %>    
            <% } %>
            <form action="/signup" method="POST">
                <div class="form-outline mb-3">
                    <label class="form-label" for="userName">User Name</label>
                    <input type="text" name="userName" id="userName" class="form-control" required />
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="email">Your Email</label>
                    <input type="email" name="email" id="email" class="form-control" required />
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="confirmPassword">Repeat your password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required />
                </div>
                <div class="d-flex justify-content-center flex-column justify-content-center">
                        <input type="submit" value="Register" class="btn btn-success btn-lg">
                        <a href="/auth/google" class="btn btn-google mt-3">
                            <img src="/images/google.png" alt="google icon" loading="lazy" />
                            <span>Continue with Google</span>
                        </a>
                </div>
                <p class="text-center mt-3 mb-0">Already have an account? <a href="/login" class="fw-bold text-success">Login</a></p>
            </form>
        </div>
    </div>
</section>