

/* Custom CSS for the project */

:root {
    --primary: #0A1929;
    --secondary: #143252;

    /* White and Gray Colors */
    --white:    #ffffff;
    --gray-100: #f8f9fa;
    --gray-300: #dee2e6;
    --gray-500: #adb5bd;
    --gray-900: #212529;
    --black: #000000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Nunito", sans-serif !important;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.spinner-wrapper {
    background-color: var(--primary);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: opacity 0.7s;

    .spinner-border {
        width: 60px;
        height: 60px;
    }
}

.spinner-wrapper[style*="opacity: 0"] {
    pointer-events: none;
}

/*******************
* NAVBAR STYLES 
******************/
.navbar {
    height: 90px;
    background-color: var(--primary);
    font-size: 1rem;
    font-weight: 700;

    a:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .navbar-dark .navbar-toggler {
        border: 1px solid rgba(222, 226, 230, 1);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba("222, 226, 230, 1") stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
    }

    .navbar-collapse {
        background-color: var(--primary);

        .navbar-nav {
            border-bottom: var(--gray-300);

            li { 
                padding: 1rem;
                width: 100%;
                display: flex;
                justify-content: center;

                a:hover {
                    border-bottom: 2px solid var(--gray-300);
                }
            }
        }
    }
}

/*******************
* MAIN CONTENT STYLES
******************/
#main-home {
    background-color: var(--primary);
    color: var(--gray-300);

    .hero-section {
        .hero-content {

            .hero-text {
                flex: 1;
                min-width: 0;
                flex-basis: 40%;
            }

            .hero-img {
                flex: 1;
                width: auto;
                min-width: 0;
                min-height: 600px;
                flex-basis: 60%;

                .cloud-shape {
                    height: 427px;
                    object-fit: fill;
                    clip-path: path('M 90 240 A 30 30 90 0 1 180 150 A 30 30 90 0 1 330 180 A 30 30 90 0 1 390 210 A 22.5 22.5 90 0 1 420 240 A 9 9 90 0 1 420 270 A 37.5 30 0 0 1 360 300 A 45 30 0 0 1 270 300 A 60 30 0 0 1 120 300 A 30 30 90 0 1 90 240');
                }
            }
        }
    }

    @media screen and (min-width: 991px) {
        .hero-section {
            .hero-content {

                .hero-text {
                    flex-basis: 50%;
                }

                .hero-img {
                    flex-basis: 50%;
                    min-height: 600px;
                }
            }
        }
    }

    #about {

        header+section>section {
            padding: 0 1.5rem;

            h3 {
                padding-top: 1.5rem;
            }

            h3,
            p {
                text-align: left
            }
        }
    }
}

/*******************
* SIGNUP/LOGIN STYLES
******************/
#signup {
    width: 100%;

    .signup-image {
        width: 49%;
        background: center/cover no-repeat url('/images/directory.jpeg');
    }

    .signup-form {
        width: 49%;
    }
}

#login {
    padding: 1rem 0;
    
    .login-container {
        section.card {
            background: var(--gray-300);
            border-radius: 12px;
            border: none;
            max-width: 360px;
            width: 90%;

            label.form-label {
                font-size: 0.9rem;
                font-weight: 500;
                color: #495057;
            }

            input.form-control {
                border-radius: 8px;
                border: 1px solid #ced4da;
                transition: all 0.3s;

                &:focus {
                    border-color: #007bff;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }
            }

            .btn {
                margin-bottom: 10px;
                border-radius: 50px;
                font-size: 1rem;
                padding: 0.6rem;
            }

            footer p {
                font-size: 0.85rem;

                a {
                    color: #007bff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.btn-google {
    background-color: var(--white) !important;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    span {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    #signup {

        .signup-image {
            display: none !important;
        }

        .signup-form {
            width: 75%;
        }

    }
}


/*******************
* ERRORS STYLES
******************/
.error-subtitle h4 {
    color: #253858;
    margin-bottom: .8rem;
    position: relative;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
}
.error-info p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(113, 120, 126);
    font-family: "Nunito", sans-serif;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-round {
    border-radius: 30px !important;
    text-decoration: none;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 9px 25px;
    border-width: 2px;
    box-shadow: 0 3px 8px 0 rgba(41,49,89,.15), inset 0 0 0 1px hsla(0,0%,100%,.1);
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/*******************
* 404 ERROR STYLES
******************/
.error-content {
    padding: 0 0 70px;
}
.error-text{
    text-align: center;
}
.error {
    font-size: 180px;
    font-weight: 100;
}
@keyframes bob {
    0% {
        top: 0;
    }
    50% {
        top: 0.2em;
    }
}
.im-sheep {
    display: inline-block;
    position: relative;
    font-size: 1em;
    margin-bottom: 70px;
}
.im-sheep * {
    transition: transform 0.3s;
}
.im-sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
}
.im-sheep:hover .head {
    transform: rotate(0deg);
}
.im-sheep:hover .head .im-eye {
    width: 1.25em;
    height: 1.25em;
}
.im-sheep:hover .head .im-eye:before {
    right: 30%;
}
.im-sheep:hover .top {
    animation-play-state: paused;
}
.im-sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background: #253858;
    vertical-align: middle;
    position: relative;
    top: 1em;
    transform: rotate(30deg);
}
.im-sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background: #253858;
    position: absolute;
    bottom: 0;
    right: -10%;
    border-radius: 50% 40%;
}
.im-sheep .head:hover .im-ear.one, .im-sheep .head:hover .im-ear.two {
    transform: rotate(0deg);
}
.im-sheep .head .im-eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
}
.im-sheep .head .im-eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: all 0.3s;
}
.im-sheep .head .im-eye.one {
    right: -2%;
    top: 1.7em;
}
.im-sheep .head .im-eye.two {
    right: 2.5em;
    top: 1.7em;
}
.im-sheep .head .im-ear {
    background: #253858;
    width: 50%;
    height: 30%;
    border-radius: 100%;
    position: absolute;
}
.im-sheep .head .im-ear.one {
    left: -10%;
    top: 5%;
    transform: rotate(-30deg);
}
.im-sheep .head .im-ear.two {
    top: 2%;
    right: -5%;
    transform: rotate(20deg);
}
.im-sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    background: #0054D1;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
}
.im-sheep .im-legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: -1;
}
.im-sheep .im-legs .im-leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
}
.im-sheep::before {
    left: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 18%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/*******************
* BOOKS STYLES
******************/

#books-home {
    .container {
        border-radius: 15px;
        color: var(--gray-300);
    }
}

#books {
    
    .books-search-box {
        color: var(--gray-300) !important;
    }
    
    .book-card {
        min-height: 100%;
        color: var(--gray-300);
    }

    .card {
        padding: 1rem;
        background-color: var(--black);

        img {
            border-radius: 0.375rem;
        }
    }
}

#book-view {
    padding: 1rem 0;
}

/*******************
* AUTHORS STYLES
******************/

#authors {
    .author-card {
        background-color: var(--black) !important;
    }
}

#author-view {
    padding: 1rem 0;
    color: var(--gray-300) !important;
}

/*******************
* DASHBOARD STYLES
******************/
.dashboard {
    margin-top: 90px !important;

    .stats-card {
        border: 1px solid var(--primary);
        border-radius: 8px;
        padding: 1rem;
        text-align: center;

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    th, td {
        width: 9.09%;
        padding: 0.5rem;
    }

    td {
        border-bottom: 1px solid #333;
    }

    .position {
        width: 3%;
    }

    .cover {
        width: 10%;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    .title {
        width: 20%;
    }

    td.isbn13 {
        width: 15%;
        font-size: 0.8rem;
    }

    .activity-feed {
        section.card {
            background: var(--secondary);
            border-radius: 12px;
            border: none;
            color: var(--gray-300);
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                border-bottom: 1px solid #ddd;
                padding: 10px 0;

                strong {
                    color: #333;
                }

                small {
                    color: #888;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

/*******************
* FOOTER STYLES
******************/

.footer {
    background-color: var(--secondary) !important;
    color: var(--gray-300) !important;

    hr {
        width: 100%;
        height: 2px;
    }

    .company-list {

        li {
            margin-bottom: 0.5rem;
        }
    }

    /* Style the copyright content */
    .footer-bottom {
        background-color: var(--primary);

        &__copyright {
            font-weight: 400;
        }
    }

    a {
        color: var(--gray-300);
        text-decoration: none;

        &:hover {
            color: var(--gray-600);
            text-decoration: underline;
        }
    }
}