@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded {
    @include media-breakpoint-down(sm) {
        display: none;
    }

    position: relative;
    margin: 0;
    padding: 10px 20px;
    font-weight: 700;
    border: 0.1rem solid rgba($white, 0.6);
    background-color: $white;

    &:hover {
        background: $primary;
        color: $white;
    }
}
