<h2>Edit Author</h2>
<form action="/dashboard/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors/<%= author.id %>">Cancel</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>