<div class="h-100 container">
    <h2>New Author</h2>
    <form action="/dashboard/authors" method="POST">
        <%- include('_form_fields') %>
        <div class="my-3 d-flex">
            <a href="/authors" class="btn btn-md btn-danger">Cancel</a>
            <button type="submit" class="btn btn-md btn-success">Create</button>
        </div>
    </form>
</div>